.edit-box {
  display: flex;
  flex-flow: column nowrap;
}

input.edit-input {
  background-color: rgb(238, 175, 234);
  border: none;
  width: 100%;
  height: 100px;
  margin-bottom: 0;
  color: rgb(37, 13, 36);
  font-family: "Fira Code", monospace;
  font-size: 15px;
  
}



.edit-input::placeholder {
  color: rgb(41, 22, 39);
  font-family: "Fira Code", monospace;
  font-size: 15px;
}



.edit-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  width: 100%;
  height: 3px;
  margin: 0 auto 10px;
  padding: 0;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: rgb(47, 17, 45);
}

progress::-webkit-progress-value {
  background-color: rgb(0, 218, 118) !important;
}

/* For Firefox */
progress {
  background-color: rgb(47, 17, 45);
}

progress::-moz-progress-bar {
  background-color: rgb(0, 218, 118) !important;
}

/* For IE10 */
progress {
  background-color: rgb(47, 17, 45);
}

progress {
  background-color: rgb(0, 218, 118);
}

::-webkit-file-upload-button {
  background: rgb(47, 17, 45);
  color: rgb(145, 77, 139);
  padding: 1em;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0;
  font-family: "Silkscreen", sans-serif;
}

input[type="file"] {
  color: transparent;
}

.username-clickable {
  border: none;
  display: inline;
  padding: 0 10px;
  line-height: 32px;
  /* background-color: rgb(128, 15, 255); */
  font-size: 18px;
  margin: 5px 0;
  color: white;
}

.redHeart {
  color: rgb(245, 13, 90);
}

.post-cover {
  border-top: solid 2px rgb(96, 38, 91);
  background-color: rgb(46, 19, 44);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 15px;
  margin: 0;
  width: 100%;
  color: white;
}

.post-box {
  width: 90%;
  margin: 0 0 0 20px;
  flex-flow: column nowrap;
  align-items: justify;
  justify-content: space-between;
  padding: 10px;
}

.post-first-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.user-info-cover {
  max-width: 50%;
}

.erase {
  max-width: 10%;
}

.post-avatar {
  width: 50px;
  height: 50px;
  background-color: rgb(145, 77, 139);
  border-radius: 50%;
  margin: 10px 5px;
}

.post-avatar img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.erase {
  width: 20px;
  margin: 0 10px;
}

.username-clickable.red {
  background-color: rgb(245, 13, 90);
}
.username-clickable.orange {
  background-color: rgb(255, 134, 92);
}
.username-clickable.yellow {
  background-color: rgb(255, 234, 92);
}
.username-clickable.green {
  background-color: rgb(0, 218, 118);
}
.username-clickable.blue {
  background-color: rgb(0, 150, 206);
}

.username-clickable.violet {
  background-color: rgb(128, 15, 255);
}
