.trade-mark-box {
    margin: 20px auto 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.tradeMark {
    line-height: 24px;
    color: rgb(145, 77, 139);
  }

.credits {
 font-style: italic;
 text-decoration: none;
 color: inherit;
 color: rgb(114, 61, 110);
}

p {
  text-align: center;
}

a {
  text-align: center;
}
  
.footer-underline {
    height: 5px;
    width: 100%;
    background-color: rgb(37, 13, 36);
    border-radius: 2px;
    margin: 9px auto;
  }