@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

@font-face {
  font-family: "Silkscreen";
  src: local("Silkscreen"),
    url("./fonts/silkscreen/slkscr.ttf") format("truetype");
  font-weight: bold;
}

.font-face-fira {
  font-family: "Fira Code", monospace;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}
