.avatar-cover {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 37px auto;
    width: 75%;
    height: 150px;
  }
  
  .avatar-box {
    height: 45%;
    width: 15%;
  }
  
  .avatar-box:active {
    transform: scale(0.95);
  }
  .avatar-box:checked {
    box-sizing: content-box;
    border: solid white 3px;
  }
  
  .avatar-box:hover {
    opacity: 0.7;
    border: solid white 1px;
  }

  .avatar-box img {
      height: 90%;
  }
  
  .font-face-silk {
    font-family: "Silkscreen", sans-serif;
  }
  
  