.avatar-cover {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2.5%;
    width: 95%;
    height: 150px;
  }
  
  .avatar-box {
    height: 45%;
    width: 14%;
    margin: 0.5%;
  }
  
  .avatar-box:active {
    transform: scale(0.95);
  }
  .onFocus {
    /* box-sizing: content-box; */
    border: solid white 3px;
  }
  
  .avatar-box:hover {
    opacity: 0.7;
    border: solid white 1px;
  }

  .avatar-box img {
      max-height: 90%;
      max-width: 90%;
  }
  
  .font-face-silk {
    font-family: "Silkscreen", sans-serif;
  }
  
  