header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(37, 12, 35);
}

.header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}

.small-avatar-box {
  width: 52px;
  height: 52px;
  border: solid 1.5px rgb(255, 234, 92);
  border-radius: 50%;
}

.small-avatar-box img {
  display: inline-block;
  max-width: 52px;
}
