header {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgb(37, 12, 35);

}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(0, 218, 118);
  padding-bottom: 0.25rem;
  
}

.small-avatar-box {
  width: 52px;
  height: 52px;
  border: solid 1.5px rgb(255, 234, 92);
  border-radius: 50%;
  overflow: hidden;
}

.small-avatar-box img {
  display: inline-block;
  max-height: 95%;
}

.header-img-container img {
  max-height: 35px;
  
}

.header-img-container {
 width: 30%;
}

.sign-out {
  background-color: rgb(0, 218, 118);
  width: 15%;
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 5px 0;
  border: none;
  padding: 3px;
}


@media screen and (max-width: 900px) {
  .sign-out {
    background-color: rgb(0, 218, 118);
    width: 10%;
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    padding: 3px;
  }
  .small-avatar-box {
    display: none;
  }

  .header-img-container {
    width: 200px;
   }

   .header-img-container img {
     max-width: 100%;
   }
   
}
