.username-clickable {
  border: none;
  display: inline;
  padding: 0 10px;
  line-height: 32px;
  font-size: 18px;
  margin: 5px 0;
  color: white;
}

.redHeart {
  color: rgb(245, 13, 90);
}

.post-wrapper {
  border-top: solid 2px rgb(96, 38, 91);
  background-color: rgb(46, 19, 44);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 5px;
  margin: 0;
  width: 100%;
  color: white;
}

.post-box {
  width: 90%;
  margin: 0 0 0 20px;
  flex-flow: column nowrap;
  align-items: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(31, 10, 29);
}

.post-message {
  background-color: rgb(117, 63, 113);
  padding: 5 px;
  width: 100%;
}

.post-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.post-icon {
  width: 25px;
}

.post-image-box {
  width: 95%;
}

.post-image-box img {
  width: 90%;
}

.post-header-avatar {
  height: 50px;
  width: 50px;
  background-color: rgb(37,12,35);
  border-radius: 50%;
  margin: 10px 5px;
  border: solid rgb(255, 234, 92) 1px;
}

.post-header-avatar img {
  display: inline-block;
  max-height: 95%;
  max-width: 95%;
}

.post-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.post-footer-middle {
  width: 20px;
}

.like,
.dislike,
.erase {
  width: 20px;
  margin: 0 10px;
}

.updated {
  text-align: justify;
  font-size: 90%;
  color:rgb(112, 5, 41)
}

.username-clickable.red {
  background-color: rgb(245, 13, 90);
}
.username-clickable.orange {
  background-color: rgb(255, 134, 92);
}
.username-clickable.yellow {
  background-color: rgb(255, 234, 92);
  color: rgb(31, 10, 29);
}
.username-clickable.green {
  background-color: rgb(0, 218, 118);
}
.username-clickable.blue {
  background-color: rgb(0, 150, 206);
}

.username-clickable.violet {
  background-color: rgb(128, 15, 255);
}
