.logged-in-form {
  width: 90%;
  margin: 1em 5%;
  }

  .message-box-left {
    background-color: rgb(48, 25, 46);
    border-radius: 50%;
    overflow: hidden;
  }

textarea {
  display: block;
  background-color: rgb(46, 19, 44);
  border: none;
  height: 245px;
  color: white;
  font-family: "Fira Code", monospace;
}

textarea::placeholder {
  color: rgb(145, 77, 139);
  font-family: "Fira Code", monospace;
}

.message-cover {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
align-items: center;
}
@media screen and (min-width: 900px) {

  .message-box-left {
    height: 70px;
    width: 70px;
  }

  textarea {
    height: 210px;
    width: 270px;
  }

  textarea {
    font-size: 18px;
  }

  textarea::placeholder {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .message-box-left {
    height: 35px;
    width: 35px;
  }
  textarea {
    height: 170px;
    width: 250px;
  }

  textarea {
    font-size: 15px;
  }

  textarea::placeholder {
    font-size: 15px;
  }
}

.message-box-left img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.message-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  /* Dimensions */
  height: 3px;
  margin-top: 0;
  padding: 0;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: rgb(47, 17, 45);
}

progress::-webkit-progress-value {
  background-color: rgb(0, 218, 118) !important;
}

/* For Firefox */
progress {
  background-color: rgb(47, 17, 45);
}

progress::-moz-progress-bar {
  background-color: rgb(0, 218, 118) !important;
}

/* For IE10 */
progress {
  background-color: rgb(47, 17, 45);
}

progress {
  background-color: rgb(0, 218, 118);
}

::-webkit-file-upload-button {
  background: rgb(47, 17, 45);
  color: rgb(145, 77, 139);
  border: none;
  border-radius: 2px;
  font-family: "Silkscreen", sans-serif;
}

input[type="file"] {
  color: transparent;
}

.post-submit {
  background: rgb(255, 134, 92);
}

.post-submit:disabled {
  background: rgb(21, 7, 20);
}

