.font-face-silk {
  font-family: "Silkscreen", sans-serif;
}

span {
  color: rgb(245, 13, 90);
}

main {
  background-color: rgb(21, 7, 20);
}

.footer-underline {
  height: 5px;
  width: 35%;
  background-color: rgb(21, 7, 20);
  border-radius: 2px;
  margin: 9px auto;
}

.header-img-container img {
  display: inline-block;
  max-height: 52px;
}
