@media screen and (min-width: 901px) {
  .sing-in-main {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .sing-in-main {
    width: 90%;
  }
}

span {
  color: rgb(245, 13, 90);
}

.form-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sing-in-main {
  background-color: rgb(46, 19, 44);
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}


