.sign-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.reg-input {
  display: block;
  background-color: rgb(204, 102, 197);
  border: none;
  padding: 1em 0;
  margin: 1em 2.5%;
  width: 95%;
  text-align: center;
}

input::placeholder {
  color: rgb(145, 77, 139);
  font-family: "Fira Code", monospace;
}

input[type="submit"] {
  border: 0 none;
  cursor: pointer;
  border-radius: 2px;
}

input[type="submit"]:active {
  transform: scale(0.9);
}

.google-logo-cover {
  width: 15%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.button-cover {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  min-height: 3rem;
  margin: 1em 2.5%;
  width: 95%;
}

.google-button {
  display: block;
  background-color: #4688f1;
  border: none;
  color: white;
  width: 100%;
}

.reg-button-cover {
  background-color: rgb(0, 218, 118);
  text-align: center;
  color: white;
  width: 100%;
  padding: 1em 0;
  margin: 1em 2.5%;
  width: 95%;

}

@media screen and (min-width: 901px) {
  .google-button {
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
  }

  .google-button {
    font-size: 18px;
  }

  .reg-button-cover {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .reg-button-cover {
    font-size: 15px;
  }
  .google-button {
    font-size: 15px;
  }

  input::placeholder {
    font-size: 15px;
  }

  .google-button {
    font-size: 15px;
  }
}
